* {
  font-family: "Bebas Neue", cursive;
}

button:hover {
  cursor: pointer;
}

#clock {
  text-align: center;
  background-color: #195083;
  border: 3px solid #021e38;
  border-radius: 5px;
  min-width: 300px;
  max-width: 400px;
  font-size: 70px;
  margin: 0 auto;
}

#colors {
  text-align: center;
  min-width: 400px;
  max-width: 600px;
}

#format {
  text-align: center;
  min-width: 300px;
  max-width: 400px;
}

.center {
  margin: 0 auto;
}

.button {
  font-size: 40px;
  margin: 2px;
}

.default {
  color: #f3f3f3;
}

.red {
  color: #a73d45;
}

.orange {
  color: #eba030;
}

.green {
  color: #08a845;
}

.spacer-30 {
  margin-top: 30px;
}

.spacer-20 {
  margin-top: 20px;
}
